{
  "presets": [
    ["@babel/preset-env", 
      {
        "forceAllTransforms": true,
        "useBuiltIns": "entry",
        "corejs": 3,
        "modules": false,
        "exclude": ["transform-typeof-symbol"]
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".blob"
      ]
    }]
  ]
}
